body {
    background-image: url('contactbg.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 40px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.logo {
    background-color: #1a2a4a;
    color:white;
    padding: 8px 15px;
    border-radius: 6px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 12px;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    font-weight: 300;
}

.auth-btns button {
    margin-left: 8px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.signup { margin-right: 80px;}

.login ,
.signup { background: #4406b8c2; }

.header {
    color: white;
    font-weight: 300;
    margin-top: 50px;
}

.fet-box {
    background-color: #77a0d3;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.fet-text {
    text-align: center;
}

.fet-container {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 108px;
    gap: 100px;
}

.fet-box1 , .fet-box2 , .fet-box3 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.fet-box1 {
    background-color: #E6EEF5;
}

.fet-box2 {
    background-color: #5E85B4;
}

.fet-box3 {
    background-color: #DDE9F3;
}
.fet-box1 .fet-text1 , .fet-box2 .fet-text2 , .fet-box3 .fet-text3 {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.fet-text1:hover , .fet-text2:hover , .fet-text3:hover {
    color: blue;
    text-decoration: underline;
}

.art-box {
    background-color: #77a0d3;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.art-text {
    text-align: center;
    color: black;
}

.art-container {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    gap: 100px;
    margin-left: 108px;
}

.art-box1 , .art-box2 , .art-box3 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.art-box1 {
    background-color: #E6EEF5;
}

.art-box2 {
    background-color: #5E85B4;
}

.art-box3 {
    background-color: #DDE9F3;
}
.art-box1 .art-text1 , .art-box2 .art-text2 , .art-box3 .art-text3 {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.art-text1:hover , .art-text2:hover , .art-text3:hover {
    color: blue;
    text-decoration: underline;
}

.vid-box {
    background-color: #77a0d3;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.vid-text {
    text-align: center;
}

.vid-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 100px;
}

.vid-box1 , .vid-box2 , .vid-box3 {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

.vid-box1 {
    background-color: #E6EEF5;
}

.vid-box2 {
    background-color: #5E85B4;
}

.vid-box3 {
    background-color: #DDE9F3;
}
.vid-box1 .vid1 , .vid-box2 .vid2 , .vid-box3 .vid3 {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}